<% provide(:title, "Team X Projects") %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
 
       <h1>
         <%= @student.first.team_id %> TEAM
      </h1>
    </section>
  </aside>
</div>