<% provide(:title, "Projects") %>
<div class="container">
  <h1 class="title">
    Team <%= @teams[2] %> Projects
  </h1>

<!-- creating and populating members array -->
<% @student.each do |student| %>
  <%  if student.team_id === @teams.first %>
    <% @members.push(student)%>
  <% end %>
<% end %>

<% @members%>

<% @evaluations.each do |e| %>
   <% e.evaluator_id%>
<% end %>

  <div class="box_admin">
    <h4 class="cover_admin"> <i class="sub_title_admin">Project 1</i></h4>
    <h3 class="description_admin"> Forming Groups</h3>
  <table class="table_admin">
    <tr>
      <th>Members</th>
      <th>Rating</th>
    </tr>
    <tr>
      <td class="name_admin"> Ajay Kirtikar</td>
      <td class="rating_admin">7</td>
    </tr>
    <tr>
      <td class="name_admin"> Brock Hecker </td>
      <td class="rating_admin">6</td>
    </tr>
  </table>
  </div>

  <div class="box_admin">
    <h4 class="cover_admin"> <i class="sub_title_admin">Project 2</i></h4>
    <h3 class="description_admin"> The Game of Set</h3>
  <table class="table_admin">
    <tr>
      <th>Members</th>
      <th>Rating</th>
    </tr>
    <tr>
      <td class="name_admin"> Ajay Kirtikar</td>
      <td class="rating_admin">7</td>
    </tr>
    <tr>
      <td class="name_admin"> Brock Hecker </td>
      <td class="rating_admin">6</td>
    </tr>
  </table>
  </div>

  <div class="box_admin">
    <h4 class="cover_admin"> <i class="sub_title_admin">Project 3</i></h4>
    <h3 class="description_admin"> Web Scraping</h3>
  <table class="table_admin">
    <tr>
      <th>Members</th>
      <th>Rating</th>
    </tr>
    <tr>
      <td class="name_admin"> Ajay Kirtikar</td>
      <td class="rating_admin">6</td>
    </tr>
    <tr>
      <td class="name_admin"> Brock Hecker </td>
      <td class="rating_admin">7</td>
    </tr>
  </table>
  </div>

  <div class="box_admin">
    <h4 class="cover_admin"> <i class="sub_title_admin">Project 4</i></h4>
    <h3 class="description_admin"> Faculty Page Redesign</h3>
  <table class="table_admin">
    <tr>
      <th>Members</th>
      <th>Rating</th>
    </tr>
    <tr>
      <td class="name_admin"> Ajay Kirtikar</td>
      <td class="rating_admin">6</td>
    </tr>
    <tr>
      <td class="name_admin"> Brock Hecker </td>
      <td class="rating_admin">6</td>
    </tr>
  </table>
  </div>

  <div class="box_admin">
    <h4 class="cover_admin"> <i class="sub_title_admin">Project 5</i></h4>
    <h3 class="description_admin"> The Game of Set, Reloaded</h3>
  <table class="table_admin">
    <tr>
      <th>Members</th>
      <th>Rating</th>
    </tr>
    <tr>
      <td class="name_admin"> Ajay Kirtikar</td>
      <td class="rating_admin">8</td>
    </tr>
    <tr>
      <td class="name_admin"> Brock Hecker </td>
      <td class="rating_admin">7</td>
    </tr>
  </table>
  </div>

  <div class="box_admin">
    <h4 class="cover_admin"> <i class="sub_title_admin">Project 6</i></h4>
    <h3 class="description_admin"> Final Project</h3>
  <table class="table_admin">
    <tr>
      <th>Members</th>
      <th>Rating</th>
    </tr>
    <tr>
      <td class="name_admin"> Ajay Kirtikar</td>
      <td class="rating_admin">7</td>
    </tr>
    <tr>
      <td class="name_admin"> Brock Hecker </td>
      <td class="rating_admin">7</td>
    </tr>
  </table>
  </div>


  


  

</div>

</body>