<% provide(:title, "About") %>
<h1>About</h1>
<p>
  GWAN's very own hand coded team evaluation app!
</p>
<p>
  Simply sign up, wait for the admin to add you to your team.
</p>
<p>
  After you have been added to your team you have the ability to rate your fellow teammates, and comment about how they did on the project.
</p>