<% provide(:title, "Admin Home") %>
<h1>Admin Home</h1>
<body>

  <div class="container">
    <h1 class="title">
      Teams
    </h1>
    <% @students.each do |student|%>
      <% if @teams.exclude?(student.team_id) %>
        <div class="box">
          <h4 class="cover"> <i class="sub_title">Team <%= student.team_id %></i></h4>
          <p class="text"> description</p>
          <%= link_to "Projects", admin_projects_path, class: "button"%>
        </div>
        <% @teams.push(student.team_id)%>
      <% end %>
    <% end %>
  </div>
</body>

