<div class="row jumbotron">
  <h1 class="lead">Eval: Peer Evaluation by GWAN</h1>
  <p class="lead">
    Collect, collate, and analyze peer 
    evaluations for better group work.
  </p>

  <%= link_to "Admin Log In", admin_login_path, class: "btn btn-lg btn-primary" %>
  <%= link_to "Student Log In", student_login_path, class: "btn btn-lg btn-primary" %>
</div>

