@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
    padding-top: 60px;
    }
    
    section {
    overflow: auto;
    
    }
    textarea {
    resize: vertical;
    }
    .center {
    text-align: center;
    
    }
    .center h1 {
    margin-bottom: 10px;
    
    }

    /* typography */

h1, h2, h3, h4, h5, h6 {
    line-height: 1;
  }
  
  h1 {
    font-size: 3em;
    letter-spacing: -2px;
    margin-bottom: 30px;
    text-align: center;
  }
  
  h2 {
    font-size: 1.2em;
    letter-spacing: -1px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: normal;
    color: #777;
  }
  
  p {
    font-size: 1.1em;
    line-height: 1.7em;
  }

  /* header */

#logo {
    float: left;
    margin-right: 10px;
    font-size: 1.7em;
    color: black;
    text-transform: uppercase;
    letter-spacing: -1px;
    padding-top: 9px;
    font-weight: bold;
}
  
#logo:hover {
    color: #777;
    text-decoration: none;
}

.navbar {
    background-color: white;
}
  
.navbar-brand {
    padding: 0px;
    position: absolute;
}

  /* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

/* Front Page */

.row.jumbotron {
  background-color: #d4edfa;
  height: 80vh;
  padding-top: 30vh;
}

.btn.btn-lg.btn-primary{
  border-radius: 0;
  margin-top: 5px;
  font-weight: 300;
  letter-spacing: 1px;
}

/* Sign up Page Form */

.header-title{
  padding-top: 25%;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

/* sidebar */
// students home page
aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
   }
   span {
     display: block;
     margin-bottom: 3px;
     line-height: 1;
  }
  h1 {
    font-size: 1.4em;
    text-align: left;
    letter-spacing: -1px;
    margin-bottom: 3px;
    margin-top: 0px;
  }
 }
}

 .gravatar {
   float: left;
   margin-right: 10px;
 }

 .gravatar_edit {
   margin-top: 15px;
}


// Student Team Projects Page

//title
h1.title{
 margin-right: 80%;
 font-weight: normal;
}

.container{
  position: relative;
  width: 80%;
}
//card
.box{
  display: inline-block;
  width: 270px;
  height: 350px;
  background:whitesmoke;
  margin: 30px;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
  transition: 0.3s;
 
}



//pre animated overlay on card
.cover{
  position: relative;
  text-align: center;
  top: -2.8%;
  width: 100%;
  height: 100%;
  background:lightskyblue;
  transition: 0.5s;
  z-index: 1;
}
// hover animation
.box:hover .cover {
  top: -2.8%;
  height: 20%;
}
// project #
.sub_title {
  position: relative;
  font-weight: bold;
  top: 35%;
  transform: translate(-50%, -50%);
  transition: 0.5s;
  color:whitesmoke;
  font-size: 30px;

}
// Project # animation
.box:hover .cover .sub_title {
  font-size: 20px;
}

// description text
.text{
  position: relative;
  color: black;
}

// view rating button
.button {
  position: relative;
  border: none;
  top: 20%;
  left: 26%;
  color:black;
  background-color: lightskyblue;
  padding: 15px 32px;
  
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 5px;
  cursor: pointer;

}
.button:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
}

// Ratings

// Ratings title
.project_title{
  margin-right: 70%;
  font-weight: normal;
 }
 
 .member_container{
   position: relative;
   width: 80%;
   margin-left: 10%;
 }
 // member card
 .member_box{
  display: inline-block;
  width: 270px;
  height: 350px;
  background: lightblue;
  margin: 30px;

  overflow: hidden;
  border-radius: 5px;

  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
  transition: 0.3s;
 
}

// member name
.member_name {
  position: relative;
  font-weight: bold;
  top: 0%;
  left: 10%;
  color:black;
  font-size: 30px;
  margin-bottom: 0;

}
// rating label
.rating_text{
  position: relative;
  font-weight: bold;
  top: 5%;
  left: 8%;
  color:black;
  font-size: 15px;
  
}


// rating form
.rating{
  align-items: center;
  cursor: pointer;
  margin-top: 6%;
  margin-left: 8%;
}

.submitBtn{
  position: relative;
  border: none;
  top: 13%;
  left: 50%;
  color:black;
  background-color: dodgerblue;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  margin: 2px 2px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}
.submitBtn:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
}

// comment text
.text{
  position: relative;
  top:5%;
  left: 15%;
  width: 85%;
  color: black;
}





//ADMIN home page

*::before,
*::after{
  box-sizing: inherit;
}
.accordian-item{
  background-color:#212838;
  
}
.accordian-link{
  font-weight: bold;
  font-size: 2.5rem;
  color: lightskyblue;
  text-decoration: none;
  background-color: #212838;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  //cursor: pointer;
}
.admin_data{
  max-height: 0;
  overflow: hidden;
  position: relative;
  background-color: #212838;
  transition: 500ms;
}
.accordian-item:hover .admin_data{
  max-height: 100%;
}


// project cards
//card
.box_admin{
  display: inline-block;
  width: 700px;
  height: 500px;
  background:lightskyblue;
  margin: 5px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
  transition: 0.3s;
}

//cover div
.cover_admin{
  position: relative;
  text-align: center;
  top: -2.8%;
  left: 0;
  width: 100%;
  height: 20%;
  background: lightseagreen;
  transition: 0.5s;
  z-index: 1;
}
// project #
.project_admin {
  position: relative;
  font-weight: bold;
  top: 30%;
  transform: translate(-50%, -50%);
  transition: 0.5s;
  color:black;
  font-size: 30px;

}
// description text
.description_admin{
  position: relative;
  text-align: center;
  color: black;
}

// container for ratings on admin page
.table_admin{
  position: relative;
  text-align: center;
  top: 5%;
  left: 0;
  border: 1px solid black;
  
}
// text for table header
.table_header_admin{
  position: relative;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  border: 1px solid black;
  width: 200px;
  color: black;
}
// text inside table
.table_text_admin{
  position: relative;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  border: 1px solid black;
  width: 200px;
  color: black;
}

#textbox {
  width: 200px;
  height: 80px;
  font-size: 20px;
  font-weight: bold;
  border: 1px solid black;
}



// Back Button
.back{
  position: relative;
  font-weight: bold;
  width: auto;
  font-size: large;
}
